<h1><%= @topic.title %></h1>
<%= link_to "Edit", edit_topic_path(@topic), class:"btn btn-success" %>
<%= link_to "Delete", @topic_path, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure you want to delete this topic?' } %>
<%= link_to "Add Bookmark", new_topic_bookmark_path(@topic,@bookmark), class:"btn btn-warning" %>
<div class="row"><br>
<% @topic.bookmarks.each do |bookmark| %>
<div class="col-md-2">
       <h4><%= bookmark.url %></h4><br>
  <%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark), class:"btn btn-success" %>
  <%= link_to "Delete", topic_bookmark_path(@topic,bookmark), method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure you want to delete this bookmark?' } %>
  
     </div>
  <%end%>
</div><br>


